<div class="row">
  <div class="col-sm-4">

    <h4>登録内容</h4>
    <div class="card card-default">
      <div class="card-header">
      </div>
      <div class="card-body card-5-7">
        <div class="card-left">
          <p>
            <strong>ヘッダー写真:</strong>
            <%= image_tag(@idea.picture_url, width: 200) if @idea.picture.present? %>

          <h3>Comments</h3>
          <% @comments.each do |comment| %>
            <div>
              <strong><%= comment.user_name %></strong>
              <br />
              <p><%= comment.body %></p>
              <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: '削除してもよろしいですか？' } %></p>
            </div>
          <% end %>
          <%= render 'comments/form', comment: @comment %>
          </p>
        </div>
        <div class="card-right">
          <p>
            <strong>名前:</strong>
            <%= @idea.name %>
          </p>

          <p>
            <strong>詳細:</strong>
            <%= @idea.description %>
          </p>
        </div>
      </div>
      <%= link_to 'Edit', edit_idea_path(@idea) %> |
      <%= link_to 'Back', ideas_path %>
    </div>
  </div>
</div>
